element {
    --sage: "#626542";
    --tan: "#ab9170";
    --pinktan: "#d6b69e";
    --bluegrey: "#849894";
    --forestgreen: "#344b3c";
}

#map,
body,
html {
  height: 400px;
  width: 650px;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

#inner {
  overflow:hidden;
  width:2000px;
}

.user-select-none-svg-container {
  position:relative;
  max-width: 600px;
  height: auto;
}

.container {
  overflow:hidden;
  position: relative;
  margin:20px;
  padding: 0px;
}
